<div class="w-full min-h-dvh bg-zinc-100 pb-10">
  <%= render "pages/header" %>

  <p class="flex justify-center text-green-600"><%= notice %></p>
  <div class="mx-96 py-10 bg-white px-5 py-4 rounded shadow-sm">
    <div class="flex justify-between pb-5 border-b border-gray-200 mb-5">
      <%= link_to "< Back", root_path, class: "mt-3 px-3 py-2 bg-indigo-500 rounded-lg text-white hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600" %>

      <%= button_to "Delete Block", @block, method: :delete, class: "mt-3 px-3 py-2 bg-rose-600 rounded-lg text-white hover:bg-rose-800 focus:outline-none focus:bg-rose-800" %>
    </div>

    <%= render @block %>
  </div>
</div>
