<div id="<%= dom_id transaction %>">
  <p>
    <strong>Type:</strong>
    <%= transaction.type %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= transaction.value %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= transaction.cpf %>
  </p>

  <p>
    <strong>Bank card:</strong>
    <%= transaction.bank_card %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= transaction.time %>
  </p>

  <p>
    <strong>Owner name:</strong>
    <%= transaction.owner_name %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= transaction.store_name %>
  </p>

</div>
